{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      &copy; Copyright 2024 Gregor Mihelac. This website is open source under the MIT License. <a href="https://github.com/gregecmaregec/gregecmaregec.github.io">Find the source code here</a>.
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="container">
      &copy; Copyright 2024 Gregor Mihelac. This website is open source under the MIT License. <a href="https://github.com/gregecmaregec/gregecmaregec.github.io">Find the source code here</a>.
    </div>
  </footer>
{% endif %}
