{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      <div style="width: 800px; height: 2px; background-color: orange; margin: 0 auto;"></div>
      &copy; Copyright 2024 Gregor Mihelac. By using this website, you agree to the <a href="/cookies">Cookies Policy.</a>
      <br>
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="container">
      &copy; Copyright 2024 Gregor Mihelac. By using this website, you agree to the <a href="/cookies">Cookies Policy.</a><br>
    </div>
  </footer>
{% endif %}
