body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
}

.chat-interface {
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    height: 1600px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

.input-field {
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #e8e8e8;
}

.output-field {
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    background-color: #d8d8d8;
    overflow-y: auto;
    border-radius: 10px;
}

